/*
FONT IMPORT
*/
@font-face{
  font-family: "beastian";
  src: url("font/beastian.ttf");
}

/*
STANDARD TEXT
*/
.lions-logo-text{
  font-family: "courier new";
  font-weight: bold;
  font-size: 32px;
  display: inline;
  margin: 0px;
  padding-left: 4px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.lions-index-title-text{
  margin: 0px; padding: 0px;
  font-family: "beastian"; Arial;
  font-size: 112px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.lions-header-text{
  margin: 0px; padding: 0px;
  font-family: "courier new";
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.lions-desc-text{
  margin: 0px; padding: 0px;
  font-family: "courier new";
  font-size: 28px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/*
LINKS AND CONTROLS
*/

.lions-index-link-text{
  font-family: Arial;
  font-size: 36px;
  display: inline;
}
.lions-menu-text{
  text-shadow: 2px 2px #000;
  font-family: "courier new";
  font-size: 28px;
  display: inline;
}
.lions-menu-button{
  display: inline-flex;
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  text-shadow: 2px 2px #000;
  font-family: "courier new";
  font-size: 28px;
}

/*
MEDIA QUERIES
*/
@media only screen and (max-width: 1400px) {
  .lions-index-title-text{font-size: 72px;}
  .lions-index-desc-text{font-size: 32px;}
  .lions-desc-text{font-size: 24px;}
  .lions-index-link-text{font-size: 18px;}
}

@media only screen and (max-width: 800px) {
  .lions-index-title-text{font-size: 48px;}
  .lions-index-desc-text{font-size: 24px;}
  .lions-desc-text{font-size: 16px;}
  .lions-index-link-text{font-size: 14px;}
}
