/*
GLOBAL FIX
*/
body{
  background-color: black;
}
.navbar-dark{
  background-color: #003200 !important;
}
.btn-primary{
  background-color: #008000;
}

/*
SPACING
*/

/*
BOXES AND STRUCTURES
*/
.full_screen{
  margin: 0; padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden
}
.full_screen_align_center{
  align-items: center;
}
.animation_canvas{
  position:fixed;
  z-index: -1;
}

#roadmap {
  flex: 1 1;
}

/*
IMAGES
*/
.lion-nav-img{
  width: 40px;
}
.index-image{
  width: 440px;
  display: inline;
}

@media only screen and (max-width: 1400px) {
  .index-image{width: 260px;}
}

@media only screen and (max-width: 800px) {
  .index-image{width: 180px;}
}
