/*
COLOR REFERENCE:
background - black, #000
textcolor - white, #fff
bright/neon green - #008000
neon green accent - #00FF31
/*

/*
GLOBAL FIX
*/
body{
  background-color: black;
  overflow: hidden;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #008000;
    border: 1px solid white;
    color: white;
}
.hidden{
  visibility: hidden;
}

/*
BOXES AND STRUCTURES
*/
.full_screen{
  margin: 0; padding: 0;
  height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.animation_canvas{
  position: fixed;
  z-index: -1;
}
.align_center{align-items: center;}

/*
SPACING
*/
.base_padding{
  padding-left: 50px; padding-right: 50px;
  padding-top: 20px; padding-bottom: 120px;
}
.content_padding{
  padding-left: 20px; padding-right: 20px;
  padding-top: 30px; padding-bottom: 30px;
}
.top_spacing{
  padding-top: 100px;
}
.btn_padding{
  margin-top: 10px;
}

/*
IMAGES
*/
.index_image{
  width: 360px;
  display: inline;
}


/*
MEDIA QUERIES
*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .index-image{width: 320px;}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .index-image{width: 320px;}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .index-image{width: 320px;}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .index-image{width: 320px;}

}
