/*
COLOR REFERENCE:
background - black, #000
textcolor - white, #fff
bright/neon green - #008000
neon green accent - #00FF31
/*

/*
GLOBAL FIX
*/
body{
  background-color: black;
  overflow: hidden;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #008000;
    border: 1px solid white;
    color: white;
}
.hidden{
  visibility: hidden;
}

/*
BOXES AND STRUCTURES
*/
.full_screen{
  margin: 0; padding: 0;
  height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.full_screen::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.animation_canvas{
  position: fixed;
  z-index: -1;
}
.align_center{align-items: center;}

/*
SPACING
*/
.base_padding{
  padding-left: 50px; padding-right: 50px;
  padding-top: 20px; padding-bottom: 120px;
}
.top_spacing{padding-top: 10px;}
.bottom_spacing{padding-bottom: 50px;}

/*
IMAGES
*/
.index_image{
  width: 420px;
  display: inline;
}


/*
MEDIA QUERIES
*/

/* large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1300px) {
  .base_padding{
    padding-left: 50px; padding-right: 50px;
    padding-top: 20px; padding-bottom: 120px;
  }
  .top_spacing{padding-top: 12px;}
  .bottom_spacing{padding-bottom: 80px;}
  .index_image{width: 360px;}
}

/* Small devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 800px) {
  .base_padding{
    padding-left: 50px; padding-right: 50px;
    padding-top: 20px; padding-bottom: 120px;
  }
  .top_spacing{padding-top: 12px;}
  .bottom_spacing{padding-bottom: 80px;}
  .index_image{width: 320px;}

}

/* Cell Phone */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .base_padding{
      padding-left: 20px; padding-right: 20px;
      padding-top: 20px; padding-bottom: 20px;
    }
    .top_spacing{padding-top: 12px;}
    .bottom_spacing{padding-bottom: 80px;}
    .index_image{width: 640px;}

}
