/* GLOBAL FIX */
*{
  box-sizing: border-box;
}

/* Fade out background with green sock */
#fade_background{
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #000;
}

/* POSITIONING AND COMPONENTS */
.nav_menu{
  width: 420px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 9;
}
.nav_menu .trigger{
  position: fixed;
  z-index: 10;
  left: 20px;
  top: 20px;
  background-color: transparent;
  outline: 0;
  border: none;
  pointer-events: visible;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  curser: pointer;
}
.nav_menu .menu_wrapper{
  background-color: #008000;
  border: 2px solid #00FF31;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-top: 60px;
}
.nav_menu .menu{
  position: relative;
  padding: 20px;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav_menu .menu li a{
  text-decoration: none;
  padding: 2px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}
.nav_menu .menu li a::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 0;
  margin: auto;
  display: inline-flex;
  height: 0;
  border: 2px solid white;
  border-radius: 100px;
  transition: all ease 0.25s;
}

/*
ACTIVE COMPONENTS
*/
.nav_menu.active{
  pointer-events: visible;
}
.nav_menu .menu li a.active::after,
.nav_menu .menu li a.active::hover{
  opacity: 1;
  left: 0;
  width: 100%;
}

/*
HR STYLES
*/
.menu_hr{
  background-color: #fff;
  width: 100%;
}

/*
MEDIA QUERIES
*/

/* large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1300px) {
  .nav_menu{width: 380px;}

}

/* Small devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 800px) {
  .nav_menu{width: 320px;}

}

/* Cell Phone */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .nav_menu{width: 560px;}
  .nav_menu .trigger{
    left: 40px;
    top: 40px;
  }
}
