<!-- extend the base file -->
{% extends "base.html" %}

<!-- added styles block html -->
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/menu_styles.css') }}" />

{% endblock %}

{% block nav %}
  {% include 'menu.html' %}
{% endblock %}

<!-- application block html -->
{% block app %}

<canvas id="app_ani" class="animation_canvas"></canvas>
<div class="row full_screen">
  <div class="w-100 text-center">
    <p class="lions-header-text">Lucky Lions Application</p>
    <p class="lions-desc-text">Application Coming Soon.</p>
  </div>
  <div id="connect_btns" class="w-100 text-center">
    <button class="nav-item btn btn-primary btn-outline-light me-4" onclick="connect_wallet_myalgo()">
      Connect With MyAlgo
    </button>
    <button class="nav-item btn btn-primary btn-outline-light me-4" onclick="connect_wallet_wallectconnect()">
      Connect With WalletConnect
    </button>
  </div>
</div>

{% endblock %}

<!-- added scripts block html -->
{% block script %}

<script src="{{ url_for('static', filename='js/page/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/page/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/page/connect_dist.js') }}"></script>
<script>
  $(document).ready(function(){
    console.log(connectors);
  });
  function connect_wallet_myalgo(){
    connectors.connect_myalgo()
  }
  function connect_wallet_wallectconnect(){
    connectors.connect_walletconnect()
  }
</script>


{% endblock %}
