<!-- Base Meta Information -->
<!doctype html>
<html lang="en">

<!-- Head info -->
<head>
  <title>Lucky Lions</title>
  <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/lucky_lions_ico.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global_styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font_styles.css') }}" />
</head>

<!-- Create Body -->
<body>

  <!-- Navbar Structure
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('lions.index') }}">
        <img class="lion-nav-img" src="{{ url_for('static', filename='img/clawmarks.png') }}" />
        <p class="lions-logo-text">Lucky Lions</p>
      </a>
      <div>
        <a href="{{ url_for('lions.index') }}" class="nav-item btn btn-outline-light me-1">
          <i class="fas fa-home"></i>
          <p class="lions-nav-link-text">Home</p>
        </a>
      </div>
    </div>
  </nav>
  -->

  <div class="container-fluid">

    {% block app %}

    {% endblock %}

  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/fontawesome.min.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/global_scripts.js') }}"></script>

</body>

</html>
