<!-- Base Meta Information -->
<!doctype html>
<html lang="en">

<!-- Head info -->
<head>
  <title>Lions Fund - Algorand</title>
  <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/lucky_lions_ico.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global_styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font_styles.css') }}" />
  {% block styles %}
  <!-- Additional Style Sheets Are Added Here -->
  {% endblock %}
</head>

<!-- Create Body -->
<body>

  {% block nav %}
  <!-- Page Navbars are Added Here -->
  {% endblock %}

  <!-- Canvas Animations -->
  <canvas id="animation_canvas" class="animation_canvas"></canvas>

  <!-- App Block -->
  <div class="container-fluid base_padding">

    {% block app %}
    <!-- Page Content is Added Here -->
    {% endblock %}

  </div>

  <script src="{{ url_for('static', filename='js/package/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/package/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/package/gsap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/package/fontawesome.min.js') }}" crossorigin="anonymous"></script>
  {% block script %}
  <!-- Additional Scripts Are Added Here -->
  {% endblock %}

</body>

</html>
