<!-- extend the base file -->
{% extends "base.html" %}

<!-- application block html -->
{% block app %}

<!-- Full Screen -->
<div class="row full_screen align_center">

  <!-- Branding Row -->
  <div class="row">
    <div class="w-100 text-center">

      <p class="lions-index-title-text">LIONS FUND</p>
      <img class="index_image me-4" src="{{ url_for('static', filename='img/stylized_logo.png') }}" />

    </div>
  </div>

  <!-- Buttons Row -->
  <div class="row">
    <div class="w-100 text-center">

      <!-- <a type="button" href="{{ url_for('lions.app') }}" class="nav-item btn btn-primary btn-outline-light me-4" disabled>
        <p class="lions-index-link-text">
          <i class="fas fa-network-wired"></i>
          Enter Application
        </p>
      </a> -->
      <button type="button" class="btn btn-secondary btn-outline-light me-4" data-toggle="tooltip" data-placement="top" title="Coming Soon!">
        <p class="lions-index-link-text">
          <i class="fas fa-network-wired"></i>
          Enter Application
        </p>
      </button>

      <!-- <a href="{{ url_for('lions.info') }}" class="nav-item btn btn-primary btn-outline-light me-4" disabled>
        <p class="lions-index-link-text">
          <i class="fas fa-info-circle"></i>
          Project Info
        </p>
      </a> -->
      <button type="button" class="btn btn-secondary btn-outline-light me-4" data-toggle="tooltip" data-placement="top" title="Coming Soon!">
        <p class="lions-index-link-text">
          <i class="fas fa-info-circle"></i>
          Project Info
        </p>
      </button>

      <a href="{{ url_for('lions.roadmap') }}" class="nav-item btn btn-primary btn-outline-light me-4">
        <p class="lions-index-link-text">
          <i class="fas fa-map"></i>
          View Roadmap
        </p>
      </a>

      <a href="{{ url_for('lions.roadmap') }}" class="nav-item btn btn-primary btn-outline-light me-4">
        <p class="lions-index-link-text">
          <i class="fas fa-chart-line"></i>
          Open Tinycharts
        </p>
      </a>

    </div>
  </div>

  <!-- Zinger Row -->
  <div class="row">
    <div class="w-100 text-center">

      <p class="lions-header-text">Welcome to the Lions Den.</p>

    </div>
  </div>

</div>

{% endblock %}

<!-- added scripts block html -->
{% block script %}

<script src="{{ url_for('static', filename='js/animation/bubbles_animation.js') }}"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% endblock %}
