<!-- extend the base file -->
{% extends "base.html" %}

<!-- application block html -->
{% block app %}

<canvas id="index_ani" class="animation_canvas"></canvas>
<div class="row full_screen full_screen_align_center">
  <div class="w-100 text-center">

    <p class="lions-index-title-text">Lucky Lions</p>

    <a href="{{ url_for('lions.app_home') }}" class="nav-item btn btn-primary btn-outline-light me-4">
      <p class="lions-index-link-text">Enter Application</p>
      <i class="fas fa-angle-double-right lions-index-link-text"></i>
    </a>
    <img class="index-image me-4" src="{{ url_for('static', filename='img/stylized_logo.png') }}" />
    <a href="{{ url_for('lions.roadmap') }}" class="nav-item btn btn-primary btn-outline-light me-4">
      <p class="lions-index-link-text">View Roadmap</p>
      <i class="fas fa-angle-double-right lions-index-link-text"></i>
    </a>

    <p class="lions-index-desc-text">Welcome to the Lions Den.</p>

  </div>
</div>

<script src="{{ url_for('static', filename='js/index_animation.js') }}"></script>

{% endblock %}
