<div id="fade_background" class="hidden"></div>
<div class="nav_menu hidden">
  <button class="trigger">
    <p class="lions-menu-button">
      <i class="fas fa-bars"></i>
    </p>
  </button>
  <div class="menu_wrapper">
    <hr class="menu_hr" />
    <ul class="menu">
      <li>
        <a href="{{ url_for('lions.home') }}">
          <p class="lions-menu-text">
            <i class="fas fa-home"></i>
            Home
          </p>
        </a>
      </li>
      <!-- <li>
        <a href="{{ url_for('lions.app') }}">
          <p class="lions-menu-text">
            <i class="fas fa-network-wired"></i>
            App
          </p>
        </a>
      </li> -->
      <li>
        <a href="{{ url_for('lions.roadmap') }}">
          <p class="lions-menu-text">
            <i class="far fa-map"></i>
            Roadmap
          </p>
        </a>
      </li>
      <!-- <li>
        <a href="{{ url_for('lions.info') }}">
          <p class="lions-menu-text">
            <i class="fas fa-info-circle"></i>
            Info
          </p>
        </a>
      </li> -->
      <li>
        <a target="_blank" href="https://tinychart.org/asset/372666897">
          <p class="lions-menu-text">
            <i class="fas fa-chart-line"></i>
            Tinychart
          </p>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://app.tinyman.org/#/swap?asset_in=0&asset_out=372666897">
          <p class="lions-menu-text">
            <i class="fas fa-wallet"></i>
            Purchase
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
