<!-- extend the base file -->
{% extends "base.html" %}

<!-- added styles block html -->
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/menu_styles.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/roadmap_styles.css') }}" />

{% endblock %}

<!-- Navigation Block HTML -->
{% block nav %}
  {% include 'menu.html' %}
{% endblock %}

<!-- application block html -->
{% block app %}

<!-- Full Screen -->
<div class="row full_screen">

  <div class="w-100 text-center">
    <p class="lions-text lions-header-text">Lion Coin Road Map</p>
    <p class="lions-text lions-desc-text">Here's What's Cookin'</p>
  </div>

  <!-- Construct a timeline object -->
  <div class="container content_padding">
    <div class="row">
      <div class="col-12">

          {% for item in tl["items"] %}
            <div class="single-timeline-area">
              <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                  <p class="lions-text lions-roadmap-header">{{ item["name"] }}</p>
              </div>
              <div class="row">
                {% for goal in item["goals"] %}
                <div class="col-12 col-lg-4">
                    <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <div class="timeline-icon"><i class="fa fa-{{ goal["icon"] }}" aria-hidden="true"></i></div>
                        <div class="timeline-text">
                            <p class="lions-text lions-roadmap-header"><b>{{ goal["name"] }}</b></p>
                            <p class="lions-text lions-roadmap-text">{{ goal["content"] }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>

</div>

{% endblock %}

<!-- added scripts block html -->
{% block script %}

<script src="{{ url_for('static', filename='js/page/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/animation/bubbles_animation.js') }}"></script>

{% endblock %}
